  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <a href="/suggestions" class=<%= title === 'Suggestions?' ? 'active' : '' %>
      >
      WRITE
    </a>
    <a href="/suggestions/passive" class=<%= title === 'Passive' ? 'active' : '' %>
      >
      PASSIVE
    </a>
    <a href="/suggestions/aggressive" class=<%= title === 'Aggressive' ? 'active' : '' %>
      >
      AGGRESSIVE
    </a>
    <a href="/suggestions/comments" class=<%= title === 'comments' ? 'active' : '' %>
      >
      COMMENTS
    </a>
    <% if (user) { %>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } %>
  </nav>
