html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #666666;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #17b7b5;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  background-color: rgb(49, 49, 49);
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #c6f0ff;
}

pre {
  font-size: 14px;
}

#passive-identifier {
  font-style: italic;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #a5e6f3;
}

nav > a:hover {
  color: white;
  background-color: #404040;
}

nav > a.active {
  color: rgb(152, 202, 240);
}Z


.btn {
  margin: 16px 0;
}

.link {
  padding: 12px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

.inline {
  display: inline;
}








#buttons {
  border-radius: 9px;
  background-color: #404040;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}


#edit-button {
  border-radius: 9px;
  background-color: #404040;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}

#edit-button:hover {
  background-color: #a5e6f3;
  color: #000000;
}

#buttons:hover {
  background-color: #a5e6f3;
  color: #000000;
}

#list a:visited{
  color: #00bfff;
}


#list a:hover {
  background-color: rgb(0, 0, 0);
}












.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.slider-container label {
  margin-bottom: 8px;
}

.slider-container input[type="range"] {
  width: 100%;
  margin: 0;
}
