html {
	box-sizing: border-box;
}

/* The Universal Selector */
*,
*::before,
*::after {
	box-sizing: inherit;
}

.landing-page {
	background-image: url('/images/restti.gif');
}

.gif-containter {
	margin-top: -220px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #666666;
	color: #f6f6f6;
	font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	border: 10px solid #17b7b5;
	height: 120vh;
	text-align: center;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #17b7b5;
	color: #1a1a1a;
	padding: 5px;
	min-height: 60px;
	width: 100%;
	position: fixed;
	font-size: 40px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

main {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.passive-aggressive-u {
  margin-top: 120px;
  padding-top: 120px;
}

.page-content-1st {
  margin-top: 500px;
  padding-top: 0px;
}

.suggestion-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 65px;
	margin-top: -500;
	padding-top: 0;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

ul {
	list-style-type: none;
	padding: 0;
}

label {
	font-weight: bold;
	justify-content: center;
}

section {
	padding: 50px;
}

a {
	color: #c6f0ff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

#passive-identifier {
	font-style: italic;
}

nav > a {
	margin: 1px;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
	color: #424748;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav > a:hover {
	color: white;
	background-color: #404040;
}

nav a.active {
	color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000000;
}

.link {
	padding: 12px 0;
	font-size: 18px;
	display: flex;
	justify-content: center;
}

.profile-avatar {
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.author {
	border-style: double;
	color: rgb(255, 255, 255);
	border-radius: 9px;
	border-style: double;
	align-items: center;
	padding: 20px 40px;
	display: flex;
	justify-content: center;
}

.suggestion-container {
	display: flex;
	justify-content: center;
	flex: 1;
	text-shadow: 1px 1px 1px #000000;
	border-radius: 9px;
	padding: 60px;
	background-image:
	linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	),
	url('/images/passive-aggressive.gif');
	background-size: cover;
	background-position: center;
}

.suggestion-and-delete-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#add-comment-btn {
	border-radius: 9px;
	background-color: #c8c8c8;
	padding: 4px;
	text-decoration: none;
	font-size: 24px;
	color: #000000;
	margin-right: 10px;
	display: flex;
	justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.btn {
	border-radius: 9px;
	background-color: #404040;
	padding: 4px;
	text-decoration: none;
	font-size: 24px;
	color: #ffffff;
	margin-right: 10px;
	display: flex;
	justify-content: center;
}

#edit-button {
	border-radius: 9px;
	background-color: #404040;
	padding: 4px;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
	display: flex;
	justify-content: center;
}


.btn-suggestion {
	align-self: flex-start;
	justify-content: center;
}

#edit-button:hover {
	background-color: #a5e6f3;
	color: #000000;
}

#add-comment-btn:hover {
	background-color: #a5e6f3;
	color: #000000;
}

.container {
	display: flex;
	align-items: flex-start;
}

textarea {
	resize: none;
	width: 300px;
	height: 150px;
}

#list a:visited {
	color: #04c0ff;
}

#list {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comment-wrapper {
	display: flex;
	align-items: center;
}

.comment-content {
	flex: 1;
}

.delete-button {
	margin-left: -50px;
}

.suggestion-list:hover {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
}

.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 16px;
}

.slider-container label {
	margin-bottom: 8px;
}

.slider-container input[type="range"] {
	width: 100%;
	margin: 0;
}

.error-page {
	background-image: url('/images/404-error.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px 1px #000000;
	color: #000000;
}

.four-o-four {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -500px;
}












.suggestion-list,
.suggestion-list *,
.suggestion-list :after,
.suggestion-list :before,
.suggestion-list:after,
.suggestion-list:before {
  border: 0 solid;
  box-sizing: border-box;
}
.suggestion-list {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 75%;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.suggestion-list:disabled {
  cursor: default;
}
.suggestion-list:-moz-focusring {
  outline: auto;
}
.btn-97 svg {
  display: block;
  vertical-align: middle;
}
.suggestion-list [hidden] {
  display: none;
}
.suggestion-list {
  background: #818181;
  border: 1px solid;
  border-radius: 9px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
.suggestion-list:hover {
  box-shadow: 0 6px 0 -4px #fff, 0 9px 0 -4px #aaa, 0 12px 0 -4px #000;
  transform: translateY(-5px);
}



















.btn-97,
.btn-97 *,
.btn-97 :after,
.btn-97 :before,
.btn-97:after,
.btn-97:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-97 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-97:disabled {
  cursor: default;
}
.btn-97:-moz-focusring {
  outline: auto;
}
.btn-97 svg {
  display: block;
  vertical-align: middle;
}
.btn-97 [hidden] {
  display: none;
}
.btn-97 {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn-97:hover {
  box-shadow: 0 6px 0 -4px #fff, 0 9px 0 -4px #aaa, 0 12px 0 -4px #000;
  transform: translateY(-5px);
}






.dvd-animation {
  animation-name: bouncing;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes bouncing {
  0% {
    transform: translateX(50%) translateY(50%);
  }
  16.67% {
    transform: translateX(-25%) translateY(110%);
  }
  33.33% {
    transform: translateX(0%) translateY(155%);
  }
  50% {
    transform: translateX(25%) translateY(100%);
  }
  66.67% {
    transform: translateX(-45%) translateY(-45%);
  }
  83.33% {
    transform: translateX(-10%) translateY(-200%);
  }
  100% {
    transform: translateX(50%) translateY(50%);
  }
}





.dvd-animation-two {
  animation-name: bouncing-two;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes bouncing-two {
  0% {
    transform: translateX(-450%) translateY(-450%);
  }
  16.67% {
    transform: translateX(420%) translateY(-400%);
  }
  33.33% {
    transform: translateX(-450%) translateY(-100%);
  }
  50% {
    transform: translateX(-150%) translateY(195%);
  }
  66.67% {
    transform: translateX(-450%) translateY(-450%);
  }
  83.33% {
    transform: translateX(420%) translateY(-250%);
  }
  100% {
    transform: translateX(-450%) translateY(-450%);
  }
}